<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">
    <test name="FormTest" parallel="false">
        <classes>
            <class name="RegistrationFormTest">
                <methods>
                    <include name="checkRegistrationFormData"/>
                    <include name="checkRegistrationFormSeparateData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

<!--
            <class name="FormTest">
                <methods>
                    <include name="checkRegistrationFormData"/>
                    <include name="checkRegistrationFormSeparateData"/>
                </methods>
            </class>
            <class name="FormChainTest">
                <methods>
                    <include name="checkRegistrationFormDataChain"/>
                </methods>
            </class>
-->
