<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MainTest">
    <test name="SignInTest" parallel="false">
        <classes>

<!--            <class name="RegistrationFormTest">-->
<!--                <methods>-->
<!--                    <include name="checkRegistrationFormData"/>-->
<!--                </methods>-->
<!--            </class>-->

            <class name="AuthorizationFormTest">
                <methods>
                    <include name="checkAuthorizationWithWrongPass"/>
                    <include name="checkTrueLoginFormData"/>
                    <include name="checkWrongNameFormData"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
